<header class="navbar bg-light border-bottom">
    <div class="container">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/assets/logo.svg" width="48" height="48" alt="OnlineChat">
            <h4>OnlineChat</h4>
        </a>
        <div class="text-end">
            <% if (loggedin) { %>
                <a href="/user/settings" class="text-dark text-decoration-none">
                    <span id="user-id" user-id="<%= userID %>"><%= headerUserName %></span>
                </a>
                <a href="/auth/logout" class="btn btn-outline-primary">LogOut</a>
            <% } else { %>
                <a href="/auth/login" class="btn btn-outline-primary me-2">Login</a>
                <a href="/auth/signup" class="btn btn-primary">Sign-up</a>
            <% } %>
        </div>
    </div>
</header>
